asgiref==3.8.1
branca==0.8.0
certifi==2024.8.30
charset-normalizer==3.4.0
Django==5.1.2
folium==0.17.0
greenlet==3.0.3
idna==3.10
Jinja2==3.1.4
MarkupSafe==3.0.1
numpy==2.1.2
playwright==1.41.1
pyee==11.0.1
requests==2.32.3
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.3
xyzservices==2024.9.0
